@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --secondary-color: #73808d;
  --yellow-color: #e6c613;

  --regular-font: 1.66rem;

  --mb: 0.605rem;
}
* {
  font-family: "Inter", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #000;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  color: unset;
}

a:hover {
  color: var(--secondary-color);
}

/* preloader */
#preloader {
  position: fixed;
  z-index: 1031;

  display: flex;

  width: 100%;
  height: 100vh;

  background: #fff url(preload/Quarter-Circle-Loading-Image-1.gif) no-repeat
    center center;
  background-size: 27%;

  justify-content: center;
  align-items: center;
}

.page[data-size="A4"] {
  width: 1440px;
}

.container__A4 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/* left */
.content__left {
  background: #141414;
}

.content__left-container {
  padding: 38.72px 3.625rem 3.625rem;
}

.content__left-container .point {
  margin-bottom: 0;
}

.profil__img {
  width: 100%;
}

.profil__name {
  font-size: 50.82px;
  font-weight: 800;

  margin-bottom: var(--mb);

  text-transform: uppercase;

  color: var(--yellow-color);
}

.profil__name-sub {
  font-size: var(--regular-font);

  margin-bottom: 38.72px;

  color: var(--yellow-color);
}

.profil__address {
  margin-bottom: 48.4px;
}

.profil__address p {
  font-size: var(--regular-font);

  margin-bottom: 14.52px;

  color: rgba(255, 255, 255, 0.6);
}

.profil__resume {
  font-size: var(--regular-font);

  margin-bottom: 48.4px;

  color: rgba(255, 255, 255, 0.6);
}

.profil__link {
  margin-bottom: 48.4px;
}

.profil__link-list {
  display: flex;

  margin-bottom: 29.04px;

  align-items: center;
}

.profil__link-list a {
  font-size: 21.78px;

  color: rgba(255, 255, 255, 0.6);
}

.profil__link-list img {
  width: 38.72px;
  margin-right: 21.78px;
}

.point__content-icon {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24.2px 38.72px;
}

.point__content-icon__list {
  display: flex;

  align-items: center;
}

.point__content-icon__list p {
  font-size: 21.78px;
  font-style: italic;

  margin-bottom: 0;

  color: rgba(255, 255, 255, 0.6);
}

.point__content-icon__list img {
  width: 43.56px;
  margin-right: 14.52px;
}

/* right */
.content__right {
  padding: 3.625rem;
}

.point {
  margin-bottom: 4.08rem;
}

.content__right .point:last-child {
  margin-bottom: 0;
}

.title__point {
  font-size: 1.36rem;
  font-weight: 800;

  margin-bottom: 29.04px;

  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.point__content {
  margin-bottom: 29.04px;
}

.point__content:last-child {
  margin-bottom: 0;
}

.point__content-title {
  font-size: var(--regular-font);
  font-weight: 700;

  margin-bottom: var(--mb);
}

.point__content-desc {
  font-size: var(--regular-font);
  line-height: 34px;

  margin-bottom: var(--mb);
}

.point__content-desc__sub {
  font-size: var(--regular-font);
  line-height: 34px;

  margin-bottom: var(--mb);

  color: rgba(0, 0, 0, 0.8);
}

.point__content-time {
  font-size: 21.78px;

  margin-bottom: 0;

  color: var(--secondary-color);
}

.point__content-link {
  font-size: 21.78px;

  display: block;

  margin-top: var(--mb);
  margin-bottom: 0;

  color: var(--secondary-color);
}
