@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --secondary-color: #73808d;
  --yellow-color: #e6c613;

  --regular-font: 1.66rem;

  --mb: 0.605rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  color: #000;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

/* preloader */
#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #fff url(preload/Quarter-Circle-Loading-Image-1.gif) no-repeat
    center center;
  background-size: 27%;
  z-index: 1031;
  position: fixed;
}
.container__A4 {
  display: flex;
  align-items: flex-start;
}

/* left */
.content__left {
  flex: 0.4;
  background: #141414;
  padding: 3.625rem;
}

.profil__name {
  font-size: 50.82px;
  font-weight: 800;
  color: var(--yellow-color);
  text-transform: uppercase;
  margin-bottom: var(--mb);
}

.profil__name-sub {
  font-size: var(--regular-font);
  color: var(--yellow-color);
  margin-bottom: 38.72px;
}

.profil__address {
  margin-bottom: 48.4px;
}

.profil__address p {
  font-size: var(--regular-font);
  margin-bottom: 14.52px;
  color: rgba(255, 255, 255, 0.6);
}

.profil__resume {
  font-size: var(--regular-font);
  color: rgba(255, 255, 255, 0.6);
}

/* right */
.content__right {
  flex: 0.6;
  padding: 3.625rem;
}

.point {
  margin-bottom: 4.08rem;
}

.title__point {
  font-size: 1.36rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--secondary-color);
}

.point__content {
  margin-bottom: 29.04px;
}

.point__content-title {
  font-size: var(--regular-font);
  font-weight: 700;
  margin-bottom: var(--mb);
}

.point__content-desc {
  font-size: var(--regular-font);
  margin-bottom: var(--mb);
  line-height: 34px;
}

.point__content-desc__sub {
  color: rgba(0, 0, 0, 0.8);
  font-size: var(--regular-font);
  margin-bottom: var(--mb);
  line-height: 34px;
}

.point__content-time {
  font-size: 21.78px;
  margin-bottom: 0;
  color: var(--secondary-color);
}

.point__content-link {
  margin-bottom: 0;
  margin-top: var(--mb);
  display: block;
  color: var(--secondary-color);
  font-size: 21.78px;
}
